
.inputbox{
    display: flex;
    flex-direction: column;;
    margin-left: 25.5%;
    margin-top: 20px;
}

.modalInputs{
    margin-top: 10px;
    border-radius: 10px;
    width: 80%;
    margin-left: -15%;
}

.selectbox{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 22%;
}
.modalInputs2{
    margin-top: 10px;
    border-radius: 10px;
    width: 80%;
    margin-left: -15%;
} 

#modalButto {
    width: 140px;
    height: 30px;
    margin-left: 26%;
    margin-bottom: 20px;
}

#projname {
    height: 20px;
    margin-left: -20px;
}

#locate{
    margin-left: 20%;
}